<div class="row">
	<div class="page-title">
		<div class="title_left">
			<h4 class="title-padding">Offer details</h4>
		</div>
		<div class="title_right">
			<button type="button" class="btn btn-primary navbar-right" (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12 ">
			<div class="x_panel tile">
				<div class="x_title">
					<h4>Status</h4>
				</div>
				<div class="x_content">
					<div id="bar_chart_offer_status" [chartData]="offerByStatus" [chartOptions]="bar_ChartOptions_offer_status" chartType="Bar"
						(loaded)="chartLoaded('byStatus')" GoogleChart></div>
					<div class="pricing_footer no_bg_border" *ngIf="!byStatusLoaded">
						<p>
							<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
							<span class="sr-only">Loading...</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12 ">
			<div class="x_panel tile">
				<div class="x_title">
					<h4>Stay type</h4>
				</div>
				<div class="x_content">
					<div id="bar_chart_offer_staytype" [chartData]="offerByStayType" [chartOptions]="bar_ChartOptions_offer_staytype"
						chartType="Bar" (loaded)="chartLoaded('byStay')" GoogleChart></div>
					<div class="pricing_footer no_bg_border" *ngIf="!byStayLoaded">
						<p>
							<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
							<span class="sr-only">Loading...</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 ">
		<div class="x_panel tile">
			<div class="x_title">
				<h4>Code</h4>
			</div>
			<div class="x_content">
				<div id="bar_chart_offer_code" [chartData]="offerByOfferCode" [chartOptions]="bar_ChartOptions_offer_code"
					chartType="Bar" (loaded)="chartLoaded('byCode')" GoogleChart></div>
					<div class="pricing_footer no_bg_border" *ngIf="!byCodeLoaded">
						<p>
							<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
							<span class="sr-only">Loading...</span>
						</p>
					</div>
			</div>
		</div>
	</div>
</div>