<div class="row">
	<div class="page-title">
		<div class="title_left">
			<h4 class="title-padding">Property details</h4>
		</div>
		<div class="title_right">
			<button type="button" class="btn btn-primary navbar-right" (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12 ">
			<div class="x_panel tile">
				<div class="x_title">
					<h4>By type</h4>
				</div>
				<div class="x_content">
					<div id="bar_chart_propety_type" [chartData]="propertyByTypes" [chartOptions]="bar_ChartOptions_property_type" chartType="Bar"
						GoogleChart></div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12 col-xs-12 ">
			<div class="x_panel tile">
				<div class="x_title">
					<h4>By provision type</h4>
				</div>
				<div class="x_content">
					<div id="bar_chart_property_provision" [chartData]="propertyByProvTypes" [chartOptions]="bar_ChartOptions_property_prov_types"
						chartType="Bar" GoogleChart></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12 ">
		<div class="x_panel tile">
			<div class="x_title">
				<h4>By category</h4>
			</div>
			<div class="x_content">
				<div id="bar_chart_property_category" [chartData]="propertyByCategories" [chartOptions]="bar_ChartOptions_property_categories"
					chartType="Bar" GoogleChart></div>
			</div>

		</div>
	</div>
</div>