<div class="row">
	<div class="page-title">
		<div class="title_left">
			<h4 class="title-padding">Property contract details</h4>
		</div>
		<div class="title_right">
			<button type="button" class="btn btn-primary navbar-right" (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="x_panel tile">
				<div class="x_title">
					<h4>By status</h4>
				</div>
				<div class="x_content">
					<div id="bar_chart_contract_status" [chartData]="contractStatus" [chartOptions]="bar_ChartOptions_contract_status" chartType="Bar"
						(loaded)="chartLoaded('byStatus')" GoogleChart></div>
					<div class="pricing_footer no_bg_border" *ngIf="!byStatusLoaded">
						<p>
							<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
							<span class="sr-only">Loading...</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12 ">
			<div class="x_panel tile">
				<div class="x_title">
					<h4>By models</h4>
				</div>
				<div class="x_content">
					<div id="bar_chart_contract_by_model" [chartData]="contractByModel" [chartOptions]="bar_ChartOptions_contract_having_model"
						chartType="Bar" (loaded)="chartLoaded('byModel')" GoogleChart></div>
					<div class="pricing_footer no_bg_border" *ngIf="!byModelLoaded">
						<p>
							<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
							<span class="sr-only">Loading...</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 ">
		<div class="x_panel tile">
			<div class="x_title">
				<h4>Top 5 currencies</h4>
			</div>
			<div class="x_content">
				<div id="bar_chart_contract_by_currency" [chartData]="contractByCurrency" [chartOptions]="bar_ChartOptions_contract_having_currency"
					chartType="Bar" (loaded)="chartLoaded('byCurrency')" GoogleChart></div>
					<div class="pricing_footer no_bg_border" *ngIf="!byCurrencyLoaded">
						<p>
							<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
							<span class="sr-only">Loading...</span>
						</p>
					</div>
			</div>
		</div>
	</div>
</div>