<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <ul class="nav navbar-nav">
        <li class="">
          <a routerLink="/" routerLinkActive="active"><h3>Nova Monitoring</h3></a>
        <!-- <h3>Production Dashboard Live !</h3> -->
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" aria-expanded="false">
          </a>
        </li>

      </ul>
    </nav>
    <!-- new-->
  </div>
</div>

<!-- /top navigation -->
