<div class="row">
	<div class="col-md-4">
		<div class="x_panel tile">
			<div (click)="getPropertyDetails()" class="x_title">
				<h4> Property</h4>
			</div>
			<div class="x_content">
				<div id="pie_chart_Property" [chartData]="chartData_Property" [chartOptions]="pie_ChartOptions" chartType="Bar" GoogleChart></div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="x_panel tile">
			<div (click)="getPropertyContractDetails()" class="x_title" style="cursor:pointer">
				<h4>Property Contract</h4>
			</div>
			<div class="x_content">
				<div id="pie_chart_PropertyContract" [chartData]="chartData_PropertyContract" [chartOptions]="pie_ChartOptions" chartType="Bar"
					GoogleChart></div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="x_panel tile">
			<div (click)="getRatePlanDetails()" class="col-md-12 x_title">
				<h4>RatePlan</h4>
			</div>
			<div class="col-md-12 x_content">
				<div id="pie_chart_RatePlan" [chartData]="chartData_RatePlan" [chartOptions]="pie_ChartOptions" chartType="Bar" GoogleChart></div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="x_panel tile">
			<div (click)="getAdjustmentsDetails()" class="col-md-12 x_title">
				<h4>Adjustment</h4>
			</div>
			<div class="col-md-12 x_content">
				<div id="pie_chart_Adjustment" [chartData]="chartData_Adjustment" [chartOptions]="pie_ChartOptions" chartType="Bar"
					GoogleChart></div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="x_panel tile">

			<div (click)="getMarkupDetails()" class="col-md-12 x_title">
				<h4>Markup</h4>
			</div>
			<div class="col-md-12 x_content">
				<div id="pie_chart_Markup" [chartData]="chartData_Markup" [chartOptions]="pie_ChartOptions" chartType="Bar" GoogleChart></div>
			</div>
		</div>

	</div>
	<div class="col-md-4">
		<div class="x_panel tile">
			<div (click)="getInventoryRestrictionsDetails()" class="col-md-12 x_title">
				<h4>Inventory Restriction</h4>
			</div>
			<div class="col-md-12 x_content">
				<div id="pie_chart_InventoryRestrictions" [chartData]="chartData_InventoryRestrictions" [chartOptions]="pie_ChartOptions"
					chartType="Bar" GoogleChart></div>
			</div>
		</div>

	</div>
	<div class="col-md-4">
		<div class="x_panel tile">

			<div (click)="getInventoryUsageDetails()" class="col-md-12 x_title">
				<h4>InventoryUsage</h4>
			</div>
			<div class="col-md-12 x_content">
				<div id="pie_chart_InventoryUsage" [chartData]="chartData_InventoryUsage" [chartOptions]="pie_ChartOptions" chartType="Bar"
					GoogleChart></div>
			</div>
		</div>
	</div>