<div class="row">

	<entity-summary chartName='Property' routePath="property" [chartData]="chartData_Property" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='Property Contract' routePath="property-contract" [chartData]="chartData_PropertyContract" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='Offer' routePath="offer" [chartData]="chartData_Offer" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='RatePlan' routePath="" [chartData]="chartData_RatePlan" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='Adjustment' routePath="" [chartData]="chartData_Adjustment" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='Markup' routePath="" [chartData]="chartData_Markup" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='Inventory Restriction' routePath="" [chartData]="chartData_InventoryRestrictions" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='Inventory Usage' routePath="" [chartData]="chartData_InventoryUsage" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='RoomRate' routePath="" [chartData]="chartData_RoomRate" [chartOptions]="pie_ChartOptions" chartType="Bar"></entity-summary>

	<entity-summary chartName='RateRule' routePath="" [chartData]="chartData_RateRule" [chartOptions]="pie_ChartOptions"  chartType="Bar"></entity-summary>

</div>