<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
  <span class="count_top"><i class="fa"
    [class.fa-search]="title == 'Total Searches'"
    [class.fa-book]="title == 'Total Bookings'"
    [class.fa-undo]="title == 'Total Cancellations'"
    [class.fa-user]="title == 'Total Clients'|| title == 'Top Client'"
    ></i>{{title}}</span>
  <div class="count" [ngClass]= "{'green':title == 'Total Searches'}">{{count}}</div>
  <span class="count_bottom">
  <i [ngClass] = "{'green': dataType == 'actual', 'red':dataType == 'simulated'}">{{dataType}}</i></span>
</div>
